
$standard:#c9c9c9; /* standard färg variab */

@mixin header-style { /*mixin */
  
    font-family:  sans-serif;
    
font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $standard;
    text-align:center;
        
}

@mixin footstyle 
    {
        font-family: 'Merienda One', cursive;
        font-size: 1em;
        display: block;
        position:fixed;
        bottom:-12px;
        height:30px;
        width:100%;
        background-color:black;
        text-align: center;
        color:$standard;
    }

@mixin boxstyle
    {
                
        border: 2px solid black;
        border-radius: 25px;
        
        
    }
.logo {font-family: 'Merienda One', cursive;}
.box 
    {
        @include boxstyle;
        display:flex;
        display: block;
        padding-bottom: 5px;
        margin: 0.4em;
        max-width: 850px;
        background-color: white;
        
    }


h1, h2, h3, h4
    {
    
        @include header-style;
        
    }
h2 {
        color: $standard;
        font-size: 2em;
        color: pink;
    }

aside
    {        
        
        display: flex;
        opacity:0.9;
        background-color: white;
        padding: 1px;
        color:black;
        text-align: left;
    }

.medlem-text
    {
        font-size: 1.1em;
        color: $standard;
        text-align:center;
        }

.medlem
    {
        color: $standard;
        
        text-decoration: none;
        padding: 1px;
        font-size: 3em;
        display: inline-block;
        
        border-radius: 25px;
    }

.ejmedlem
    {
        color: black;
        background: white;
        opacity:0.75;
        text-decoration: none;
        padding: 5px;
        display: flex;
        font-size: 4em;
    }
body 
    { 
        background-image: url("../images/ackground.jpg")	;	
    	background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
		background-color: #c9c9c9;
    }

ul, li 
    {
        list-style: none;
    }

header 
    {
        display: flex;
        justify-content: center;  
    }

.fa-times, .fa-bars
    {
        color: black;
        font-size: 2em;
        padding: 0.5em;
    }

.fa-life-bouy,
.fa-glass,
.fa-home,
.fa-facebook,
.fa-cutlery
    {
        font-size: 1,8em;
        padding: 0.4em;
        color: white;
    }

.logo
    {
        font-family: 'Merienda One', cursive;
        display: center;
        align-items: baseline;
        color: $standard;
    }

#nav-toggle
    {
        display: none; /* dölj ch */
    }

#nav-toggle:checked + #wrapper nav  
    {
        display: block; /* mobil meny cb checkad */    
    }

#nav-toggle:checked + #wrapper header .fa-bars 
    {
        display: block; /* visar hamburg ch checkad */
    }

nav
    {
        display: none; /* dold mobilmeny */
    }

nav ul
    {
        text-align: center;
        background-color: #f89090;
        display: flex;
        flex-flow: column wrap; /* mobil meny kolumn*/
        font-size: 1em;
        display: block;
        padding: 0.4em;
    }

.search-form 
    {
        display: none;
    }

footer 
    {
        @include footstyle;
    }



@media all and (min-width: 630px) {
  /* Döljer meny trigger för desktop */
  
header > label 
    {
        display: none;
    }
    /* visar menyn för desktop */
nav 
    {
        display: block;
    }

nav ul
    
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: #84f4d1;
    }
      
.search-form
    {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        order:99;
    }

.search 
    {
        padding: 8px 15px;
        background: #e0e0f5;
        border: 1px solid $standard;
        color: $standard;
    }
  
.button
    {
        position: relative;
        padding: 6px 15px;
        left: -8px;
        border: 2px solid #207cca;
        background-color: #207cca;
        color: #fafafa;
    }
    
.ejmedlem
    {
        
        color: black;
        background: white;
        opacity:0.91;
        text-decoration: none;
        font-size: 2em;
        padding: 2px;
        display: inline-block;
    }
    .box2 {order: 3}
    .box3 {order: -4}
    
}