
$standard:#b7b7b7; /* standard färg variab */
$border-std: 8px; /* border radius variabel*/
$color:#fdfdfd;

@mixin header-style($color) { /*mixin för headern*/
  
  font-weight: bold;
  text-transform: none;
  color: $color;
    text-align:center;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Merienda One', cursive;        
}

a {color: inherit;} /*ta bort a tagg länk färg*/

h1, h2, h3, h4
    {
    
        @include header-style($color);
        border-radius: $border-std;
    }

.container
    { display: flex;
     flex-flow: column;
    }



@mixin footstyle 
    {
        font-family: 'Merienda One', cursive;
        font-size: 1em;
        display: block;
        position:fixed;
        bottom:-12px;
        height:40px;
        width:100%;
        background-color:black;
        text-align: center;
        color:$color;
    }

@mixin boxstyle
    {
        padding: 2%;     
        border: 1px solid black;
        border-radius: $border-std;
        opacity:0.94;
        
    }
    

.box 
    {
        @include boxstyle;
        display: block;
    
        margin: 0.4em;
        
        background-color: white;
        
    }

.box3 {order: -1;

background-color: yellow;
}
h3 {font-size: 1.5em;}
h3, h4 {
    color: black;
}
h2 {
        
    background-color: #f57b7b;
        font-size: 2em;
        
    }

aside
    {        
        order: 1;
        
        display: flex;
        opacity:0.9;
        background-color: white;
        padding: 2px;
        color:black;
        text-align: left;
    }


.medlem-text
    {
        font-size: 1.1em; /* i box tre för målgrupp 2 icke medlemmar*/
        color: $standard;
        text-align:center;
        }

.medlem         /* medlem inlog*/
    {
        color: $standard;
        
        text-decoration: none;
        padding: 0.5px;
        font-size: 0.8em;
        display: inline-block;
        background-color: blue;
        border-radius: $border-std;
    }

.ejmedlem    /* locktext för prio2 Gratis biobiljetter*/
    {
        color: black;
        background: white;
        opacity:0.75;
        text-decoration: none;
        padding: 5px;
        
        font-size: 4em;
    }

body 
    { 
        background-image: url("../images/background.jpg")	;	
    	background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
		background-color: #c9c9c9;
    }



header 
    {
        max-height: 91px;
        display: flex;
        justify-content: space-around;  
    }

.fa-times, .fa-bars
    {
        display: flex;
        color: white;
        font-size: 3em;
        padding: 40px;
    }

.fa-life-bouy,
.fa-glass,
.fa-home,
.fa-facebook,
.fa-cutlery
    {
        
        padding: 0.2em;
        color: white;
    }

.logo
    {
        font-family: 'Merienda One', cursive;
        display: flex;
       font-size: 1.6em;
       color: $standard;
    }

#nav-toggle
    {
        display: none; /* dölj ch */
    }

#nav-toggle:checked + #wrapper nav  
    {
        display: block;
        
        
        /* mobil meny cb checkad */    
    }

#nav-toggle:checked + #wrapper header .fa-bars 
    {
        display: block; /* visar hamburg ch checkad */
    }

nav    /* nästat in lite kod*/
{
    display: none; /* dold mobilmeny */
ul
    {
        text-decoration: none;
        list-style-type: none;
        text-align: left;
        background-color: $standard;
        display: flex;
        flex-flow: column wrap; /* mobil meny kolumn*/
        font-size: 1.4em;
        display: block;
        padding: 0;
        margin: 0;
    }
}

.search-form 
    {
        display: none;
    }

footer 
    {
        @include footstyle;
    }



@media all and (min-width: 630px) {
  /* Döljer meny trigger för desktop */
  
    .container {
        
        flex-flow: nowrap;
    }
    
    .box1 {order: -1;}
    .box3 {order: 3;}
    header > label 
    {
        display: none;
    }
    /* visar menyn för desktop */

nav 
{
        display: block;
ul
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: $standard;
    }
}

.search-form
    {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        order:99;
    }

.search 
    {
        padding: 8px 15px;
        background: pink;
        border: 2px solid $standard;
        color: $standard;
    }
  
.button
    {
        position: relative;
        padding: 4px 15px;
        left: -2%;
        border: 2px solid white;
        background-color: white;
        color: black;
    }
    
.ejmedlem
    {
        
        color: black;
        background: white;
        opacity:0.91;
        text-decoration: none;
        font-size: 1em;
        display: inline-block;
    }
    
}